#!/usr/bin/bash
#SBATCH -p stajichlab --ntasks 1 --nodes 1 --mem 2G --time 8:00:00 -o download_fungixml.log
USERNAME=YOUREMAIL
PASSWORD=YOURJGIPASSWORD
module unload miniconda2
module load miniconda3
curl 'https://signon.jgi.doe.gov/signon/create' --data-urlencode "login=$USERNAME" --data-urlencode "password=$PASSWORD" -c cookies > /dev/null
curl -O 'https://genome.jgi.doe.gov/portal/Aspses1/download/Aspses1_EST_20190828_cluster_consensi.fasta.gz' -b cookies
